.container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.review-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.3rem gray;
    margin: 2rem;
    width: 45rem;
}

.review-title {
 font-size: 4rem;
 text-align: center;
}

.input_field_review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: .5rem;
    font-size: medium;
    height: 5rem;
    margin: 0.5rem 0;
    padding: 1rem;
    width: 15rem;
    box-shadow: 0.1rem 0.1rem 0.3rem gray;
}

.btn-review {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: large;
    color: #0C9;
    background-color: white;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.3rem gray;
    width: 15rem;
}
      
.btn-review:hover {
    background-color: darkturquoise;
    color: white;
}

.textarea {
    resize: vertical;
    border-radius: 1rem;
    margin: 1rem;
}